# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/automl.db
backend/s3_mock/

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
backend.log
frontend.log

# OS
.DS_Store
Thumbs.db

# Archives
*.tar.gz
*.zip

# VSCode
.vscode/*
!.vscode/extensions.json
